# Popularity Recommendation

In [2]:
import os
import numpy as np
import pandas as pd
import snowflake.connector

Importing the data from Snowflake to a dataframe.

Masking the credentials

In [4]:
ctx = snowflake.connector.connect(
user='******',
password='******',
account='******'
)
query = "SELECT PR.PRODUCT_ID,O.ORDER_ID,O.CUSTOMER_ID, PR.PRODUCT_CATEGORY_NAME, OP.PAYMENT_VALUE,O.ORDER_DELIVERED_CUSTOMER_DATE,OC.CUSTOMER_UNIQUE_ID,ORD.REVIEW_SCORE, OC.CUSTOMER_CITY FROM OLIST.PUBLIC.OLIST_PRODUCTS_DATASET AS PR JOIN OLIST.PUBLIC.OLIST_ORDER_ITEMS_DATASET AS OI ON PR.PRODUCT_ID = OI.PRODUCT_ID JOIN OLIST.PUBLIC.OLIST_ORDERS_DATASET O ON OI.ORDER_ID = O.ORDER_ID JOIN OLIST.PUBLIC.OLIST_CUSTOMERS_DATASET OC ON O.CUSTOMER_ID = OC.CUSTOMER_ID JOIN OLIST.PUBLIC.OLIST_ORDER_PAYMENTS_DATASET OP ON O.ORDER_ID = OP.ORDER_ID JOIN OLIST.PUBLIC.OLIST_ORDER_REVIEWS_DATASET ORD ON O.ORDER_ID = ORD.ORDER_ID WHERE O.ORDER_STATUS = 'delivered'"
df = pd.read_sql(query, ctx)
df

,PRODUCT_ID,ORDER_ID,CUSTOMER_ID,PRODUCT_CATEGORY_NAME,PAYMENT_VALUE,ORDER_DELIVERED_CUSTOMER_DATE,CUSTOMER_UNIQUE_ID,REVIEW_SCORE,CUSTOMER_CITY
0,1e9e8ef04dbcff4541ed26657ea517e5,e17e4f88e31525f7deef66779844ddce,f8a3e963a310aa58b60a5b1fed5bceb5,perfumaria,18.30,2018-04-27 16:42:17,b1a1199364a4a7fe27c4486ab63f550d,5,mogi-guacu
1,3aa071139cb16b67ca9e5dea641aaa2f,5236307716393b7114b53ee991f36956,03fc97548af8f58fefc768d12b546c9c,artes,265.99,2018-02-16 13:27:08,4b86049cb99e4aa774031daa9cd18f18,5,rio de janeiro
2,96bd76ec8810374ed1b65e291975717f,01f66e58769f84129811d43eefd187fb,e41819d1c95c12c9ce495b630eab8aee,esporte_lazer,87.62,2018-07-11 23:24:16,f63805d9c7edb84d92413af34b86a39c,5,sao paulo
3,cef67bcfe19066a932b7673e239eb23d,143d00a4f2dde4e0364ee1821577adb3,322162b5ca010c2b059cb5224dd818b1,bebes,121.84,2018-08-06 15:14:32,619e926d09b26efbd5180368b1ddc874,1,sao paulo
4,9dc1a7de274444849c219cff195d0b71,86cafb8794cb99a9b1b77fc8e48fbbbb,c11c31965ff02cc1d7132df8edfcbc22,utilidades_domesticas,46.19,2018-04-13 22:41:44,ad353b4fb0e294adc4eda48af73e68a6,5,sao paulo
...,...,...,...,...,...,...,...,...,...
114854,83808703fc0706a22e264b9d75f04a2e,59e88b7d3675e89aceaf86f372d3bc9a,e750210dde7e68dbd5194c0809e97f7e,informatica_acessorios,92.02,2018-01-15 20:39:35,4d1bbadcfd9bdc738e54599627870319,4,campo florido
114855,83808703fc0706a22e264b9d75f04a2e,6e4465d771f02e4fe335225de3c6c043,0f139d1b208a62a37671423e5eff5016,informatica_acessorios,159.54,2018-03-23 20:08:40,2cc893f1618b7317170ba2456cf76117,5,paramirim
114856,83808703fc0706a22e264b9d75f04a2e,6e4465d771f02e4fe335225de3c6c043,0f139d1b208a62a37671423e5eff5016,informatica_acessorios,159.54,2018-03-23 20:08:40,2cc893f1618b7317170ba2456cf76117,5,paramirim
114857,83808703fc0706a22e264b9d75f04a2e,6e4465d771f02e4fe335225de3c6c043,0f139d1b208a62a37671423e5eff5016,informatica_acessorios,159.54,2018-03-23 20:08:40,2cc893f1618b7317170ba2456cf76117,5,paramirim
114858,106392145fca363410d287a815be6de4,f3a47ba087f05d39a74ed1b653f0be1b,b7fbfcea57659b5d18c20c95db45e908,cama_mesa_banho,134.55,2018-07-03 20:46:26,9aa5a8a2a616d12c8b2473429b1bdd1e,5,contagem

In [33]:
df.PRODUCT_CATEGORY_NAME.unique()

array(['perfumaria', 'artes', 'esporte_lazer', 'bebes',
       'utilidades_domesticas', 'instrumentos_musicais', 'cool_stuff',
       'moveis_decoracao', 'eletrodomesticos', 'brinquedos',
       'cama_mesa_banho', 'construcao_ferramentas_seguranca',
       'informatica_acessorios', 'beleza_saude', 'malas_acessorios',
       'ferramentas_jardim', 'moveis_escritorio', 'automotivo',
       'eletronicos', 'fashion_calcados', 'telefonia', 'papelaria',
       'fashion_bolsas_e_acessorios', 'pcs', 'casa_construcao',
       'relogios_presentes', 'construcao_ferramentas_construcao',
       'pet_shop', 'eletroportateis', 'agro_industria_e_comercio', 'None',
       'moveis_sala', 'sinalizacao_e_seguranca', 'climatizacao',
       'consoles_games', 'livros_interesse_geral',
       'construcao_ferramentas_ferramentas',
       'fashion_underwear_e_moda_praia',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'industria_comercio_e_negocios', 'telefonia_fixa',
       'construcao_ferramentas_iluminacao', 'fashion_roupa_masculina',
       'livros_tecnicos', 'eletrodomesticos_2', 'artigos_de_festas',
       'bebidas', 'market_place', 'la_cuisine',
       'construcao_ferramentas_jardim', 'fashion_roupa_feminina',
       'casa_conforto', 'audio', 'alimentos_bebidas', 'musica',
       'alimentos', 'tablets_impressao_imagem',
       'portateis_casa_forno_e_cafe', 'fashion_esporte',
       'artigos_de_natal', 'fashion_roupa_infanto_juvenil',
       'dvds_blu_ray', 'artes_e_artesanato', 'pc_gamer',
       'livros_importados', 'moveis_quarto', 'cine_foto',
       'fraldas_higiene', 'flores', 'casa_conforto_2',
       'portateis_cozinha_e_preparadores_de_alimentos',
       'seguros_e_servicos', 'moveis_colchao_e_estofado',
       'cds_dvds_musicais'], dtype=object)

In [32]:
df['PRODUCT_CATEGORY_NAME'].replace({None:"None"}, inplace = True)

In [5]:
df.columns

Index(['PRODUCT_ID', 'ORDER_ID', 'CUSTOMER_ID', 'PRODUCT_CATEGORY_NAME',
       'PAYMENT_VALUE', 'ORDER_DELIVERED_CUSTOMER_DATE', 'CUSTOMER_UNIQUE_ID',
       'REVIEW_SCORE', 'CUSTOMER_CITY'],
      dtype='object')

In [6]:
df.head()

,PRODUCT_ID,ORDER_ID,CUSTOMER_ID,PRODUCT_CATEGORY_NAME,PAYMENT_VALUE,ORDER_DELIVERED_CUSTOMER_DATE,CUSTOMER_UNIQUE_ID,REVIEW_SCORE,CUSTOMER_CITY
0,1e9e8ef04dbcff4541ed26657ea517e5,e17e4f88e31525f7deef66779844ddce,f8a3e963a310aa58b60a5b1fed5bceb5,perfumaria,18.30,2018-04-27 16:42:17,b1a1199364a4a7fe27c4486ab63f550d,5,mogi-guacu
1,3aa071139cb16b67ca9e5dea641aaa2f,5236307716393b7114b53ee991f36956,03fc97548af8f58fefc768d12b546c9c,artes,265.99,2018-02-16 13:27:08,4b86049cb99e4aa774031daa9cd18f18,5,rio de janeiro
2,96bd76ec8810374ed1b65e291975717f,01f66e58769f84129811d43eefd187fb,e41819d1c95c12c9ce495b630eab8aee,esporte_lazer,87.62,2018-07-11 23:24:16,f63805d9c7edb84d92413af34b86a39c,5,sao paulo
3,cef67bcfe19066a932b7673e239eb23d,143d00a4f2dde4e0364ee1821577adb3,322162b5ca010c2b059cb5224dd818b1,bebes,121.84,2018-08-06 15:14:32,619e926d09b26efbd5180368b1ddc874,1,sao paulo
4,9dc1a7de274444849c219cff195d0b71,86cafb8794cb99a9b1b77fc8e48fbbbb,c11c31965ff02cc1d7132df8edfcbc22,utilidades_domesticas,46.19,2018-04-13 22:41:44,ad353b4fb0e294adc4eda48af73e68a6,5,sao paulo

In [7]:
df['Product_Price']=df['PAYMENT_VALUE']

Adding a dataframe containing Product and Price

In [9]:
df_price=df[['PRODUCT_ID','Product_Price']].groupby(['PRODUCT_ID']).agg('mean')

In [10]:
df_price

                                  Product_Price
PRODUCT_ID
00066f42aeeb9f3007548bb9d3f33c38        120.240
00088930e925c41fd95ebfe695fd2655        143.830
0009406fd7479715e4bef61dd91f2462        242.100
000b8f95fcb9e0096488278317764d19         78.500
000d9be29b5207b54e86aa1b1ac54872        218.270
...                                         ...
fff6177642830a9a94a0f2cba5e476d1        142.695
fff81cc3158d2725c0655ab9ba0f712c         97.890
fff9553ac224cec9d15d49f5a263411f         43.850
fffdb2d0ec8d6a61f0a0a0db3f25b441         45.764
fffe9eeff12fcbd74a2f2b007dde0c58        303.870

[32072 rows x 1 columns]

In [34]:
df_category=df.groupby(["PRODUCT_ID",'PRODUCT_CATEGORY_NAME']).count().reset_index()[['PRODUCT_ID','PRODUCT_CATEGORY_NAME']]

In [35]:
df_category

                             PRODUCT_ID        PRODUCT_CATEGORY_NAME
0      00066f42aeeb9f3007548bb9d3f33c38                   perfumaria
1      00088930e925c41fd95ebfe695fd2655                   automotivo
2      0009406fd7479715e4bef61dd91f2462              cama_mesa_banho
3      000b8f95fcb9e0096488278317764d19        utilidades_domesticas
4      000d9be29b5207b54e86aa1b1ac54872           relogios_presentes
...                                 ...                          ...
32067  fff6177642830a9a94a0f2cba5e476d1                   cool_stuff
32068  fff81cc3158d2725c0655ab9ba0f712c                 beleza_saude
32069  fff9553ac224cec9d15d49f5a263411f  fashion_bolsas_e_acessorios
32070  fffdb2d0ec8d6a61f0a0a0db3f25b441       informatica_acessorios
32071  fffe9eeff12fcbd74a2f2b007dde0c58                   brinquedos

[32072 rows x 2 columns]

Calculating the frequency

In [13]:
df_frequent=df[['PRODUCT_ID','CUSTOMER_ID']].groupby(['PRODUCT_ID']).agg('count')

In [14]:
df_frequent.columns=['Count']

In [17]:
df_frequent

                                  Count
PRODUCT_ID
00066f42aeeb9f3007548bb9d3f33c38      1
00088930e925c41fd95ebfe695fd2655      1
0009406fd7479715e4bef61dd91f2462      1
000b8f95fcb9e0096488278317764d19      2
000d9be29b5207b54e86aa1b1ac54872      1
...                                 ...
fff6177642830a9a94a0f2cba5e476d1      2
fff81cc3158d2725c0655ab9ba0f712c      1
fff9553ac224cec9d15d49f5a263411f      1
fffdb2d0ec8d6a61f0a0a0db3f25b441      5
fffe9eeff12fcbd74a2f2b007dde0c58      1

[32072 rows x 1 columns]

Calculating the avg review score

In [16]:
df_mostrated=df[['PRODUCT_ID','REVIEW_SCORE']].groupby(['PRODUCT_ID']).agg('mean')

In [18]:
df_mostrated

                                  REVIEW_SCORE
PRODUCT_ID
00066f42aeeb9f3007548bb9d3f33c38           5.0
00088930e925c41fd95ebfe695fd2655           4.0
0009406fd7479715e4bef61dd91f2462           1.0
000b8f95fcb9e0096488278317764d19           5.0
000d9be29b5207b54e86aa1b1ac54872           5.0
...                                        ...
fff6177642830a9a94a0f2cba5e476d1           4.5
fff81cc3158d2725c0655ab9ba0f712c           4.0
fff9553ac224cec9d15d49f5a263411f           5.0
fffdb2d0ec8d6a61f0a0a0db3f25b441           5.0
fffe9eeff12fcbd74a2f2b007dde0c58           4.0

[32072 rows x 1 columns]

Merging the dataframes

In [47]:
df_popular=pd.merge(df_frequent,df_mostrated,left_index=True, right_index=True)
df_popular

                                  Count  REVIEW_SCORE
PRODUCT_ID
00066f42aeeb9f3007548bb9d3f33c38      1           5.0
00088930e925c41fd95ebfe695fd2655      1           4.0
0009406fd7479715e4bef61dd91f2462      1           1.0
000b8f95fcb9e0096488278317764d19      2           5.0
000d9be29b5207b54e86aa1b1ac54872      1           5.0
...                                 ...           ...
fff6177642830a9a94a0f2cba5e476d1      2           4.5
fff81cc3158d2725c0655ab9ba0f712c      1           4.0
fff9553ac224cec9d15d49f5a263411f      1           5.0
fffdb2d0ec8d6a61f0a0a0db3f25b441      5           5.0
fffe9eeff12fcbd74a2f2b007dde0c58      1           4.0

[32072 rows x 2 columns]

In [48]:
df_popular=pd.merge(df_popular,df_price,left_index=True, right_index=True)
df_popular

                                  Count  REVIEW_SCORE  Product_Price
PRODUCT_ID
00066f42aeeb9f3007548bb9d3f33c38      1           5.0        120.240
00088930e925c41fd95ebfe695fd2655      1           4.0        143.830
0009406fd7479715e4bef61dd91f2462      1           1.0        242.100
000b8f95fcb9e0096488278317764d19      2           5.0         78.500
000d9be29b5207b54e86aa1b1ac54872      1           5.0        218.270
...                                 ...           ...            ...
fff6177642830a9a94a0f2cba5e476d1      2           4.5        142.695
fff81cc3158d2725c0655ab9ba0f712c      1           4.0         97.890
fff9553ac224cec9d15d49f5a263411f      1           5.0         43.850
fffdb2d0ec8d6a61f0a0a0db3f25b441      5           5.0         45.764
fffe9eeff12fcbd74a2f2b007dde0c58      1           4.0        303.870

[32072 rows x 3 columns]

In [49]:
df_popular

                                  Count  REVIEW_SCORE  Product_Price
PRODUCT_ID
00066f42aeeb9f3007548bb9d3f33c38      1           5.0        120.240
00088930e925c41fd95ebfe695fd2655      1           4.0        143.830
0009406fd7479715e4bef61dd91f2462      1           1.0        242.100
000b8f95fcb9e0096488278317764d19      2           5.0         78.500
000d9be29b5207b54e86aa1b1ac54872      1           5.0        218.270
...                                 ...           ...            ...
fff6177642830a9a94a0f2cba5e476d1      2           4.5        142.695
fff81cc3158d2725c0655ab9ba0f712c      1           4.0         97.890
fff9553ac224cec9d15d49f5a263411f      1           5.0         43.850
fffdb2d0ec8d6a61f0a0a0db3f25b441      5           5.0         45.764
fffe9eeff12fcbd74a2f2b007dde0c58      1           4.0        303.870

[32072 rows x 3 columns]

In [50]:
df_popular=df_popular.sort_values(by=['Count','REVIEW_SCORE'], ascending=False)

In [51]:
df_popular.head(10)

                                  Count  REVIEW_SCORE  Product_Price
PRODUCT_ID
aca2eb7d00ea1a7b8ebd4e68314663af    526      4.049430     118.838232
99a4788cb24856965c36a24e339b6058    507      3.936884     121.294892
422879e10f46682990de24d770e7f83d    507      3.927022     157.652821
389d119b48cf3043d311335e499d9c6b    402      4.129353     120.040522
368c6c730842d78016ad823897a372db    395      3.908861     133.529013
53759a2ecddad2bb87a079a1f1519f73    389      3.884319     137.020129
d1c427060a0f73f6b889a5c7c61f2ac4    344      4.180233     196.685814
53b36df67ebb7c41585e8d54d6772e08    323      4.210526     150.131331
154e7e31ebfa092203795c972e5804a6    286      4.377622      41.836259
3dd2a17168ec895c781a9191c1e95ad7    275      4.218182     212.539964

In [52]:
df_popular.to_csv('df_popular.csv')